@model Datos.Multiplo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div class="card-header py-3">
        <div class="row">
            <!-- Listar números -->
            <div class="col-sm-3">
                <div class="form-group">
                    <a type="button" asp-controller="Multiplos" asp-action="ListarNumeros" class="btn btn-primary btn-user md-1" style="float:right;">Listar números</a>
                </div>
            </div>

            <!-- número más grande por rango -->
            <div class="col-sm-3">
                <div class="form-group">
                    <a type="button" asp-controller="Multiplos" asp-action="NumeroMasGrande" class="btn btn-primary btn-user md-1" style="float:right;">Número + grande</a>
                </div>
            </div>

            <!-- número más grande por array -->
            <div class="col-sm-3">
                <div class="form-group">
                    <a type="button" asp-controller="Multiplos" asp-action="NumeroMasGrandeArray" class="btn btn-primary btn-user md-1" style="float:right;">Número + grande * array</a>
                </div>
            </div>

            <!-- Reversar Cadena -->
            <div class="col-sm-3">
                <div class="form-group">
                    <a type="button" asp-controller="Multiplos" asp-action="ReversarCadena" class="btn btn-primary btn-user md-1" style="float:right;">Reversar Cadena</a>
                </div>
            </div>

        </div>
    </div>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Número más grande:
            </dt>
            <dd class="col-sm-10">
                @ViewBag.Mensaje
            </dd>
        </dl>
    </div>

      
       <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="NumeroMasGrandeArray">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label class="control-label">Ingresa un valor entero en cada campo</label>
                    <div class="form-group">
                        <label class="control-label">Valor desde: </label>
                        <input type="number" name="num1" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Valor hasta:</label>
                        <input type="number" name="num2" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Valor desde: </label>
                        <input type="number" name="num3" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Valor hasta:</label>
                        <input type="number" name="num4" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Validar Array" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>



</body>
</html>



